DATABASE_URL="postgresql://your-database-username:your-database-password@your-database-host:your-database-port/your-database-name"
NEXTAUTH_SECRET="your-next-auth-secret-key"
NEXTAUTH_URL="http://localhost:3000"